# Backend
backend/.venv/
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/*.pyc
backend/.pytest_cache/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Geral
.DS_Store
*.log
.idea/
.vscode/
